name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies (build)
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Optional - compile Python files
        run: python -m compileall app

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ josehun }}
          password: ${{ dckr_pat_vjEjBfEa_LtoO_xsQbWfc3MHL60 }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: josehun/hello-devops-python:latest
